.about {
    overflow: hidden;
    padding: 30px 10px;
    &__row {
        display: flex;
        flex-direction: column-reverse;
       
        &-col {
            display:flex;
            flex-direction: column;
            margin: 30px 0 0 0;
  
            }

        display: flex;
        justify-content: center;
      

        &-img {
            width: 70%;
            margin-left: 150px;
            margin-top: 0px !important;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
           
        }
    }
}

.item{ 
    font-size: 18px;
    line-height: 26px;
    padding: 20px 50px;
   &__h1{ 
       font-size: 50px;
       font-weight: 600 ;
       padding: 20px;
            
   }
}



@include large {
    .about {
        overflow:visible;
        &__row {
            flex-direction: row;
            

            &-col {

            flex: 50%;
            display:flex;
            flex-direction: column;
           
            padding: 160px;
            
    
            
            }

            &-img {
                width: 100%;
                margin-top: -300px !important;
                margin-left: -20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
               
            }
        }
 
 
 
 
.item{ 
    font-size: 18px;
    line-height: 26px;
    padding: 20px 35px 0 20px;

    &__h1{ 
       font-size: 50px;
       font-weight: 600;
       padding: 20px 20px;
   }
}
 
    }
}

