.hero {
  
  background-image: url('../../../public/img/Hero/bg-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  height: 50vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__img {
    width: 120px;
    mix-blend-mode: multiply;
   
  }

  &_container {
text-align: center;
      margin: 30px;
      &__title {
        margin-bottom: $unitx3;
        font-weight: 600 !important;
        font-size: 50px;
      }
    &__other {
      margin-top: 10px;
      font-size: $unit;
      font-weight: 300 !important;
    }
  }



@include tablet{
 
  flex-direction: row;
  &__img {
    width: 200px;
    mix-blend-mode: multiply;
   
  }

  &_container {
    text-align: left;
      margin: 30px;
      
      &__title {
        font-size: 35px;
        margin-bottom: 20px;
      }
    &__other {
      margin-top: 10px;
      font-size: 25px;
    }
}

}}
