.more {
    background-color: whitesmoke;
    height: auto;
    padding: 80px;
    position: relative;

    //@include flex(column no-wrap, center,center, center, none);
    &__img {
        position: absolute;
        left: 1000px;
    }

    &__item {
        &-p {
            padding: 5px 0;
        }
    }

    &__title {
        margin: 30px 0 20px 0;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        padding: 50px 0;

        &-col {
            position: relative;
        }
    }
}

.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.line {
    width: auto;
    height: 1.5px;
    margin-bottom: 0vw;
    margin-left: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: black;
}

@include tablet {
    .more {
        background-color: whitesmoke;
        height: auto;
        padding: 100px 180px;
        position: relative;

        //@include flex(column no-wrap, center,center, center, none);
        &__img {
            position: absolute;
            left: 1000px;
        }

        &__item {
            &-p {
                padding: 5px 0;
            }
        }

        &__title {
            margin-bottom: 30px;
        }

        &__container {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            margin-top: 50px;
            gap: 100px;

            &-col {
                flex: 10%;
            }
        }
    }

    .no-margin {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .line {
        width: auto;
        height: 1.5px;
        margin-bottom: 0vw;
        margin-left: 20px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-color: black;
    }
}
