.toggle {
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 0;
    }

    &__card {
        border-top: 2px solid black;
        border-radius: 0 0 15px 15px;
        position: relative;
        background-color: whitesmoke;
        padding: 30px;
        margin: 30px;
        width: 350px;
        height: 160px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        &-p {
            
            font-weight: regular;
            font-size: 18px;
            line-height: 26px;
        }
        &-title {
            padding-bottom: 10px;
            font-weight: 600;
            font-size: 28px;
            line-height: 30px;
        }

        img {
            mix-blend-mode: multiply;
            filter: saturate(1.2);
            position: absolute;
            bottom: 15px;
            right: 15px;
            width: 20px;
            height: auto;
            transition: 200ms;
            &:hover {
                transform: scale(0.85);
                transition: 200ms;
                cursor: pointer;
            }
        }
    }
}


@include large { 
    .toggle {
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 0;
    }

    &__card {
        border-top: 2px solid black;
        border-radius: 0 0 15px 15px;
        position: relative;
        background-color: whitesmoke;
        padding: 30px;
        margin: 30px;
        width: 350px;
        height: 160px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        &-p {
            
            font-weight: regular;
            font-size: 18px;
            line-height: 26px;
        }
        &-title {
            padding-bottom: 10px;
            font-weight: 600;
            font-size: 28px;
            line-height: 30px;
        }

        img {
            mix-blend-mode: multiply;
            filter: saturate(1.2);
            position: absolute;
            bottom: 15px;
            right: 15px;
            width: 20px;
            height: auto;
            transition: 200ms;
            &:hover {
                transform: scale(0.85);
                transition: 200ms;
                cursor: pointer;
            }
        }
    }
}

}