@mixin tablet {
    @media only screen and (min-width: 600px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}
